body {
    font-family: "Georgia", "Times", "Times New Roman", serif;
    background-color: #F4EDEA;
    color:#25283D;

}

h1 {
    font-family: "Marck Script", cursive;
    color: #F4EDEA;
}

h3 {
    color: #F4EDEA;
}

h5 {
    color: #25283D
}

h6 {
    font-family: "Georgia", "Times", "Times New Roman", serif;
    color: #25283D;
}

.jumbotron {
    font-family: "Georgia", "Times", "Times New Roman", serif;
    background-color: #8C5383;
    height: 175px;
    margin:0;
}

.row {
    margin-bottom: 100px;
}

.card {
    margin-bottom: 25px;
}

.card-header {
    background-color: #0081AF; 
    background-image: linear-gradient(to bottom right, #0081AF, #8C5383); 
}

.card-body {
    background-color: #8ACDEA;
}

.navbar {
    background-color: #25283D;
}

#text-container {
    padding: 20px;
    border: solid #8C5383;
    color: #0081AF;
    font-size: 18px;
}

#results-container {
    padding: 20px;
    border: solid #0081AF;
    color: #25283D;
    font-size: 16px;
}

.form-group.row {
    margin-bottom: 0px;
}












